name: Daily Green Square

on:
  schedule:
    - cron: '30 14 * * *' # Runs at 14:30 UTC daily (approx 8pm IST)
  workflow_dispatch: # Allows manual triggering from GitHub UI

jobs:
  build:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Run script
      run: python make_commit.py

    - name: Commit and push changes
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        git add activity.log
        git commit -m "Daily activity bot update"
        git push
